<%# debug user %>
<%= div_for(user) do %>

  <p>Email: <%= user.email %></p>
  <p>Name: <%= user.name %></p>
  <p>Updated <%= time_ago_in_words user.updated_at %> ago.</p>
  <p>Created <%= time_ago_in_words user.created_at %> ago.</p>

  <%= form_for user do |f| %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="actions">
      <%= f.submit "Update #{user.name}" %> 
    </div>
  <% end %>
<% end %>  
