<h1>Welcome Home!</h1>


<h3>Form Helpers</h3>

<%= pluralize 2, "person" %>
<%= truncate("this, that, the other", length: 19) { link_to "Cont.", "#" }  %>

<h2>Hello World</h2>
<%= form_tag '/search' do %>
  <%= search_field_tag :term %><%= submit_tag 'Search' %><br>
  
  <%= label_tag :text_field, "Text Field" %>
  <%= text_field_tag :text_field %><br>
  
  <%= label_tag :active, 'Active' %>
  <%= check_box_tag :active %><br>

  <%= label_tag :cohort, 'Cohort' %>
  <%= select_tag :cohort, options_for_select(1..3) %><br>
  
  <%= label_tag :cohort2, 'Cohort' %>
  <%= number_field_tag :cohort2, nil, in: (1..3) %><br>
<% end %>
